@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Automali";
  src: url("../public/fonts/Automali.ttf");
}

@font-face {
  font-family: "Callingstone";
  src: url("../public/fonts/Callingstone.ttf");
}

@font-face {
  font-family: "Louis George Cafe";
  src: url("../public/fonts/Louis\ George\ Cafe.ttf");
}

@font-face {
  font-family: "TimesNow";
  src: url("../public/fonts/TimesNow.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

